.logo {
  color: $accent-color;
  font-family: $logo-font;

  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  letter-spacing: 0.03em;
  text-decoration: none;
}
.logo__logo-black-part {
  color: $logo-black-part;
}
.logo__logo-white-part {
  color: $white-color;
}
